doctype html
html(lang="en")
  body
    div#page
      div.gifcreator
        div.overview.container
          h1 Hello World

script(type='text/javascript').
    if(1) {
      window.GifCreator = {};
    }

script(src='./dist/vendor.bundle.js')
script(src='./dist/dist.bundle.js')
